/*http://www.bootply.com/W8c08gujh2*/

.page-header{
	margin-top: 0;
}
.panel-body{
	padding-top: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
    text-transform: uppercase;

}

.navbar-default.transparent {
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { /*adjust color of nav items*/
    color: #fff;
    background-color: rgba(0,0,0,.25);
}

.widewrapper {
  width:100%;
  }

.widewrapper > img {
  width:100%;
}
.img-responsive {
	height: 50%;
}
